# OS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/
*.egg-info/
.eggs/
venv/
.venv/

# Local data (optional: uncomment if you don't want to track generated data)
# workflow-llm-dataset/data/local/
